
    <section class="flex flex-col items-center mt-24" id="herramientas">
        <!-- Título de la sección -->
        <h2 class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-orange-500 mb-16">
           Experiencia con
        </h2>

        <!-- Contenedor de íconos -->
        <div class="flex flex-wrap justify-center gap-8">
            <!-- React -->
            <div class="flex flex-col items-center">
                <i class="fab fa-react text-6xl hover:text-blue-400 hover:scale-75 transition"></i>
            </div>

            <!-- Astro -->
            <div class="flex flex-col items-center">
                <i class="fas fa-rocket text-6xl text-purple-400 hover:scale-75 transition"></i>
            </div>

            <!-- JavaScript -->
            <div class="flex flex-col items-center">
                <i class="fab fa-js-square text-6xl text-yellow-400 hover:scale-75 transition"></i>
            </div>

            <!-- HTML -->
            <div class="flex flex-col items-center">
                <i class="fab fa-html5 text-6xl text-orange-500 hover:scale-75 transition"></i>
            </div>

            <!-- CSS -->
            <div class="flex flex-col items-center">
                <i class="fab fa-css3-alt text-6xl text-blue-500 hover:scale-75 transition"></i>
            </div>

            <!-- Node.js -->
            <div class="flex flex-col items-center">
                <i class="fab fa-node-js text-6xl text-green-500 hover:scale-75 transition"></i>
            </div>
        </div>
    </section>
